@use '../../../shared/styles/mixins';
@use '../../../shared/styles/variables';

.form {
  @include mixins.form;
}

.links {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0.75rem;
}

.link {
  text-align: right;
  text-decoration: none;
  color: variables.$primary-color;
}
