@use '../../../shared/styles/mixins';
@use '../../../shared/styles/variables';

.form {
  @include mixins.form;
}

.link {
  text-align: right;
  text-decoration: none;
  color: variables.$primary-color;
}
