@use '../../../shared/styles/variables';

.button {
  background-color: variables.$primary-color;
  border-radius: 12px;
  padding: 0.5rem 1.5rem;
  border: 1px solid transparent;
  font-size: 1rem;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.35s;

  &:hover {
    background-color: variables.$btn-hover;
  }

  &:disabled {
    opacity: 0.5;
  }
}
