@use '../../../shared/styles/mixins';

.wrapper {
  @include mixins.form-group;
  align-items: flex-start;

  label {
    font-size: 1rem;
    line-height: 1.25;
  }

  input {
    @include mixins.form-item;
  }

  .errorText {
    @include mixins.error-text;
  }
}

.wrapper.error {
  input {
    @include mixins.error;
  }
}
