@use '../../../shared/styles/mixins';
@use '../../../shared/styles/variables';

.form {
  @include mixins.form;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
}

.cancelBtn {
  justify-self: flex-end;
  background-color: transparent;
  color: variables.$primary-color;
  border-color: variables.$primary-color;

  &:hover {
    color: variables.$btn-hover;
    background-color: transparent;
  }
}
